<div class="main">
  <div class="inner">
    <div class="idea__wrapper">
    <div class=destroy>
      <h2 class="page-heading">削除が完了しました</h2>
       <%= link_to "トップページに戻る", root_path, class: :greeting__link %>
       </div>
      <%# 部分テンプレートでフォームを表示する %>
       <%# <%= render partial: "form", locals: { idea: @idea } %> 
    </div>
  </div>
</div>